@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #EBEEF4;
}

#defaultCanvas {
	box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
}

.export {
	position: absolute;
	top: 16px;
	font-size: 12px;
	line-height: 32px;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: white;
	padding: 6px 24px;
	border-radius: 10px;
	
	&__svg {
		left: 16px;
	}
	
	&__png {
		left: 152px;
	}

	&:hover {
		background-color: #005CEC;
		color: white;
	}
}